.grid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: black;
}

.piece {
    fill: transparent;
    r: 12;
    stroke: black;
    stroke-width: 0;
}

.none:hover {
    fill: grey;
}

.white {
    fill: white;
    stroke-width: 1;
}

.black {
    fill: black;
    stroke-width: 1;
}
