.board {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px;
    top: 50%;
}

.grid {
    fill: none;
    shape-rendering: crispEdges;
    stroke: black;
}

.piece {
    fill: transparent;
    stroke: black;
    stroke-width: 0;
    transition-duration: 0.3s;
}

.none:hover {
    fill: #ccc;
}

.white {
    fill: white;
    stroke-width: 1;
}

.black {
    fill: black;
    stroke-width: 1;
}
